<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.admin.dao.AdminRoleMapper">
    <resultMap id="allRoles" type="com.sp.admin.entity.authority.AdminRoleEntity">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="adminNum" jdbcType="BIGINT" property="adminNum" />
        <result column="is_lock" jdbcType="TINYINT" property="Lock" />
        <result column="version" jdbcType="BIGINT" property="version" />
        <result column="when_created" jdbcType="TIMESTAMP" property="whenCreated" />
        <result column="when_updated" jdbcType="TIMESTAMP" property="whenUpdated" />
    </resultMap>
    <select id="selectAllRoles" resultMap="allRoles">
        select id, role_name, is_lock, version, when_created, when_updated
        from admin_role
    </select>
    <select id="selectRolesByName" resultMap="allRoles">
        select id, role_name, is_lock, version, when_created, when_updated
        from admin_role
        where 1=1
        <if test="null != roleName and '' != roleName">
            and role_name like concat('%', #{roleName}, '%')
        </if>
    </select>
    <select id="selectRoleUserCountByRoleId" resultMap="allRoles">
        select r.id, role_name, count(a.id) adminNum
        from admin_role r, `admin` a
        where r.id = a.role_id and r.id = #{roleId}
    </select>
    <select id="selectRoleById" resultMap="allRoles">
        select id, role_name, is_lock, version, when_created, when_updated
        from admin_role
        where id = #{roleId}
    </select>
    <select id="selectRoleByRoleName" resultMap="allRoles">
        select id, role_name, is_lock, version, when_created, when_updated
        from admin_role
        where id = #{roleName}
    </select>
    <insert id="insertRole" useGeneratedKeys="true" keyProperty="id" parameterType="com.sp.admin.entity.authority.AdminRoleEntity">
        insert into admin_role(role_name, is_lock, version, when_created, when_updated)
        values(#{roleName}, #{Lock}, #{version}, #{whenCreated}, #{whenUpdated})
    </insert>
    <insert id="insertRoleResource">
        insert into admin_role_resources(role_id, resource_id)
        values(#{roleId}, #{resourceId})
    </insert>
</mapper>